*.settings
*.project
*.classpath
*/target/
*/logs/
rebel.xml
core/core-api/target/
core/core-base/target/
core/core-communication/target/
core/core-configuration/target/
core/core-googlemaps/target/
core/core-logging/target/
core/core-monitoring/target/
core/core-paypal/target/
core/core-persistence/target/
core/core-reporting/target/
core/core-security-oauth/target/
core/core-security/target/
core/core-testing/target/
et/et-browser-core/target/
indy/indy-base/target/
indy/indy-security/target/
core/core-logging/logs/
et/et-mailchimp-client/target/
core/core-image/target/
et/et-browser-api/target/
et/et-browser-client/target/
*.log.*
security/security-authentication/target/
security/security-base/target/
security/security-ocsp/target/
security/security-management/target/
security/security-core/target/
security-integration/security-integration-authentication-model/target/
integration/integration-mailchimp-client/target/
security/security-authorization/target/
security/security-authentication-ldap/target/
security/security-web/target/
security/security-oauth/target/
reporting/reporting-base/target/
integration/integration-mail/target/
integration/integration-ftp/target/
security-integration/security-integration-authentication/target/
security-integration/security-integration-authentication-client/target/
security/security-authentication-base/target/
geolocation/geolocation-googlemaps/target/
core/core-mapping/target/
